<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ForgetPassword</title>
  </head>
  <body>
    <p>Visit the link given below to set new password</p>
    <p>
      Click this
      <a href="http://localhost:3000/reset/<%=to%>/token/<%=token%>/">link</a>
      to set a new password.
    </p>
  </body>
</html>
